.root>* {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.root .title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.inputDiv {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  justify-items: start;
}

@media screen and (max-width: 700px) {
  .inputDiv {
    grid-template-columns: auto;
  }
}

.textField {
  min-width: 20rem;
  justify-self: stretch;
}

.projectInfo {
  padding: 1rem;
}

.projectInfo>* {
  margin-bottom: 2rem;
}

.dataCard {
  border-collapse: collapse;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.dataCard td {
  border: none;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding-left: 0;
}

.dataCard td:first-child {
  width: 11rem;
  text-align: left;
  font-weight: bold;
  padding-right: 4pt;
  vertical-align: top;
}

.dataCard td:nth-child(2) {
  width: 13rem;
  max-width: 13rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataCard td:nth-child(3) {
  width: 7rem;
  text-align: right;
}

.dataCard td:nth-child(4) {
  width: 7rem;
  text-align: right;
}

.error {
  color: red;
  font-weight: bold;
}

.fileList {
  font-family: mono;
  font-size: 0.75rem;
  padding: 0;
  list-style-type: none;
}

.startPanel {
  display: grid;
  grid-template-columns: 7rem auto;
  grid-gap: 1rem;
  align-items: center;
  justify-items: start;
}

.threadInfo {
  display: flex;
  align-items: center;
  border: 1px solid gray;
}

.chart {
  display: inline-block;
  margin-right: 1rem;
}

.red {
  color: red;
  font-weight: bold;
}